@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  html {
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

:root,
.light,
.light-theme {
  --twitch-1: #fdfcff;
  --twitch-2: #fbf7ff;
  --twitch-3: #f5edff;
  --twitch-4: #eee1ff;
  --twitch-5: #e5d4ff;
  --twitch-6: #dbc2ff;
  --twitch-7: #cea9ff;
  --twitch-8: #bd86ff;
  --twitch-9: #aa70fb;
  --twitch-10: #9e63ed;
  --twitch-11: #7c3dc6;
  --twitch-12: #43007a;

  --twitch-a1: #5500ff03;
  --twitch-a2: #8000ff08;
  --twitch-a3: #7200ff12;
  --twitch-a4: #6f00ff1e;
  --twitch-a5: #6501ff2b;
  --twitch-a6: #6900ff3d;
  --twitch-a7: #6e00ff56;
  --twitch-a8: #7400ff79;
  --twitch-a9: #6800f88f;
  --twitch-a10: #6100e29c;
  --twitch-a11: #5300b4c2;
  --twitch-a12: #43007a;

  --twitch-contrast: #fff;
  --twitch-surface: #faf5ffcc;
  --twitch-indicator: #aa70fb;
  --twitch-track: #aa70fb;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --twitch-1: oklch(99.3% 0.006 300.3);
      --twitch-2: oklch(98.3% 0.015 300.3);
      --twitch-3: oklch(96.1% 0.036 300.3);
      --twitch-4: oklch(93.3% 0.064 300.3);
      --twitch-5: oklch(90.2% 0.091 300.3);
      --twitch-6: oklch(86.1% 0.118 300.3);
      --twitch-7: oklch(80.5% 0.152 300.3);
      --twitch-8: oklch(73.1% 0.201 300.3);
      --twitch-9: oklch(66.8% 0.201 300.3);
      --twitch-10: oklch(62.9% 0.201 300.3);
      --twitch-11: oklch(51.3% 0.201 300.3);
      --twitch-12: oklch(31.8% 0.173 300.3);

      --twitch-a1: color(display-p3 0.349 0.024 1 / 0.012);
      --twitch-a2: color(display-p3 0.388 0.02 0.878 / 0.032);
      --twitch-a3: color(display-p3 0.396 0.008 0.945 / 0.071);
      --twitch-a4: color(display-p3 0.369 0.004 0.937 / 0.118);
      --twitch-a5: color(display-p3 0.314 0.004 0.929 / 0.165);
      --twitch-a6: color(display-p3 0.337 0.004 0.937 / 0.236);
      --twitch-a7: color(display-p3 0.357 0.004 0.933 / 0.334);
      --twitch-a8: color(display-p3 0.38 0.004 0.941 / 0.467);
      --twitch-a9: color(display-p3 0.337 0 0.914 / 0.55);
      --twitch-a10: color(display-p3 0.314 0 0.831 / 0.6);
      --twitch-a11: color(display-p3 0.271 0 0.663 / 0.75);
      --twitch-a12: color(display-p3 0.22 0 0.447 / 0.977);

      --twitch-contrast: #fff;
      --twitch-surface: color(display-p3 0.976 0.961 1 / 0.8);
      --twitch-indicator: oklch(66.8% 0.201 300.3);
      --twitch-track: oklch(66.8% 0.201 300.3);
    }
  }
}

.dark,
.dark-theme {
  --twitch-1: #130f1a;
  --twitch-2: #1b1426;
  --twitch-3: #2b1c42;
  --twitch-4: #382157;
  --twitch-5: #422966;
  --twitch-6: #4e3375;
  --twitch-7: #61428e;
  --twitch-8: #7e56b8;
  --twitch-9: #aa70fb;
  --twitch-10: #9e63ed;
  --twitch-11: #c99fff;
  --twitch-12: #e7daff;

  --twitch-a1: #4500f70a;
  --twitch-a2: #8033fa17;
  --twitch-a3: #8f46fd35;
  --twitch-a4: #9648ff4b;
  --twitch-a5: #9954fd5c;
  --twitch-a6: #a161fd6c;
  --twitch-a7: #aa6fff86;
  --twitch-a8: #ad74ffb3;
  --twitch-a9: #ad72fffb;
  --twitch-a10: #aa6affec;
  --twitch-a11: #c99fff;
  --twitch-a12: #e7daff;

  --twitch-contrast: #fff;
  --twitch-surface: #25173b80;
  --twitch-indicator: #aa70fb;
  --twitch-track: #aa70fb;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --twitch-1: oklch(17.8% 0.025 300.3);
      --twitch-2: oklch(21.1% 0.036 300.3);
      --twitch-3: oklch(26.5% 0.07 300.3);
      --twitch-4: oklch(30.8% 0.094 300.3);
      --twitch-5: oklch(34.4% 0.104 300.3);
      --twitch-6: oklch(38.8% 0.11 300.3);
      --twitch-7: oklch(45% 0.122 300.3);
      --twitch-8: oklch(54.1% 0.15 300.3);
      --twitch-9: oklch(66.8% 0.201 300.3);
      --twitch-10: oklch(62.9% 0.201 300.3);
      --twitch-11: oklch(78.5% 0.177 300.3);
      --twitch-12: oklch(91.1% 0.056 300.3);

      --twitch-a1: color(display-p3 0.184 0 0.992 / 0.034);
      --twitch-a2: color(display-p3 0.482 0.204 0.988 / 0.085);
      --twitch-a3: color(display-p3 0.541 0.306 1 / 0.198);
      --twitch-a4: color(display-p3 0.569 0.306 1 / 0.282);
      --twitch-a5: color(display-p3 0.58 0.353 1 / 0.345);
      --twitch-a6: color(display-p3 0.624 0.408 1 / 0.404);
      --twitch-a7: color(display-p3 0.647 0.455 1 / 0.509);
      --twitch-a8: color(display-p3 0.667 0.478 1 / 0.677);
      --twitch-a9: color(display-p3 0.663 0.471 1 / 0.95);
      --twitch-a10: color(display-p3 0.651 0.439 1 / 0.891);
      --twitch-a11: color(display-p3 0.78 0.647 1 / 0.975);
      --twitch-a12: color(display-p3 0.91 0.867 1 / 0.988);

      --twitch-contrast: #fff;
      --twitch-surface: color(display-p3 0.133 0.094 0.22 / 0.5);
      --twitch-indicator: oklch(66.8% 0.201 300.3);
      --twitch-track: oklch(66.8% 0.201 300.3);
    }
  }
}

